body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
}
h1 {
  text-align: center;
  margin-bottom: 0.3em;
}

.highlighted {
  background-color: yellow;
}

.range-name {
  font-family: monospace;
  display: inline-block;
  width: 2em;
}


.sounds-range {
  width: 27.4em;
}


label {
  text-transform: capitalize;
  display: inline-block;
  width: 5em;
  vertical-align: middle;
}


.main {
  max-width: 320px;
  margin: auto;
}

.range-selector-container {
  text-align: center;
}


input[type=range] {
  vertical-align: middle;
}


input[type=checkbox] {
  display: inline-block;
  width: 14px;
}


.properties {
  min-height: 4.2em;
  margin-bottom: 1em;
}


.transport {
  display: flex;
  justify-content: space-between;
}


button {
}


.values {
  font-size: 12px;
  vertical-align: middle;
  margin-left: 0.5em;
}


.property-range {
  width: 15em;
}


.tick-container {
  display: flex;
  justify-content: center;
}
.tick-container span {
  width: 21px;
}


.mode-selector {
  margin-left: 1em;
  display: inline-block;
  height: 1em;
}

.mode-selector span {
  vertical-align: middle;
  margin-right: 0.4em;
}

span {
  vertical-align: middle;
}
.pattern-selector label {
  width: initial;
  display: inline-block;
  min-width: 2em;
  text-align: right;
  margin: 0 0.2em;
  margin-right: 0.1em;
}

.pattern-selector .active {
  font-weight: 700;

}

.quarters div {
  display: inline-block;
  width: 23%;
  margin: 1%;
  border-bottom: 3px solid #bbb;
}

.sub-header-actions {
  text-align: right;
  margin-bottom: 1em;
}
